*{
    margin: 0;
    padding: 0;
}
body{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.content{
     display: -webkit-flex;
    -webkit-flex-direction: column;
    width: 100%;
    height: 100%;
}
.head{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #ccc;
}
.head ul{
    display: -webkit-flex;
    list-style: none;
    height: 40px;
}
.head li{
    flex: 1;
    text-align: center;
    line-height: 40px;
}
.active{
    background: blue;
    color: #fff;
}
.body{
    flex: 1;
    width: 100%;
}
.body .section{
    line-height: 30px;
    padding-left: 10px;
    display: none;
}